<h1>{{getName}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ getName }}</dd>

  <td>Edad:</td>
  <dd>{{ getAge }}</dd>

  <td>Metodo:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>


<button
  *ngIf="getName !== 'Goku'"
  (click)="changeHero()"
  class="btn btn-primary mx-2" >
  Cambiar Nombre
</button>

<button
  *ngIf="getAge !== 40"
  (click)="changeAge()"
  class="btn btn-primary">
  Cambiar edad
</button>

<button
  *ngIf="getName === 'Goku' || getAge === 40"
  (click)="resetAll()"
  class="btn btn-warning mx-2">
  Resetear
</button>
